.gradient{
    /* opacity: .7; */
}

.my-works-skills, .center{
    transform: translate(-50%, -50%);
}

.gradient::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #000, #810000);
    opacity: .6;
}

.me-image{
    background-image: url(img/me2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 950px) {
    .me-image{
        background-position-x: 20%;
    }
}

@media screen and (max-width: 760px) {
    .me-image{
        background-position-x: 50%;
    }
}

@media screen and (max-width: 550px) {
    .me-image{
        background-position-x: 60%;
    }
}