@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  @font-face {
    font-family: "gumrindelwald";
    src: url("fonts/Trouble Font.eot");
    src: url("fonts/Trouble Font.woff") format("woff"),
    url("fonts/Trouble Font.otf") format("opentype"),
    url("fonts/Trouble Font.svg") format("svg");
    }

  *{
    font-family: "gumrindelwald", sans-serif;
    font-weight: normal;
    letter-spacing: .75px;
  }
  
  h1, h2{
    font-style: italic;
  }
  
}
